@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

header {
  margin-top: 1rem;
  text-align: center;
}

main {
  width: 60vw;
  max-width: 450px;
  margin: 2em auto;
}

.user-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type="text"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.4em;
  font-size: 1em;
  color: #333;
}
input::placeholder {
  color: #999;
}

input:focus {
  border-color: #ff4500;
  outline: none;
  color: #ff4500;
}

input:hover {
  border-color: #666;
}

button {
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #333;
  border: 1px solid #ccc;
  border-radius: 0.4em;
}

button:hover {
  border-color: #ff4500;
}

button:active {
  transform: translateY(2px);
}
